html, body{
    font-family: 'Exo 2', sans-serif;
}

h1 {
    font-size: 3em;
}

.button {
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    background-color: #dddddd;
    border: 2px solid #777777;
    border-radius: 2em;
    transition: background-color .2s;
    padding:1em;
    margin: 1em;
}

.button:hover {
    background-color: #bbbbbb;
}

.button-prim {
    display: block;
    height: 1em;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    background-color: #dddddd;
    border: 2px solid #777777;
    border-radius: 2em;
    transition: background-color .2s;
    padding:.5em;
    margin: .5em;
}

.button-prim:hover {
    background-color: #bbbbbb;
}

.accept {
    background-color: #66ff66;
}

.accept:hover {
    background-color: #44dd44;
}

.reject {
    background-color: #ff6666;
}

.reject:hover {
    background-color: #dd4444;
}

.wide-button {
    display: block;
    width: 100%;
    margin: .5em 0;
}

a.plain{
    color: #0000ff;
    text-decoration: none;
    transition: .2s;
}

a.plain:hover{
    color: #0088ff;
}

a.index-menu {
    text-decoration: none;
    color: #000000;
    font-size: 2em;
}

.empty {
    position: relative;
    padding: 0;
    margin: 0;
}

textarea{
    height: 10em;
    width: 20em;
}
