#calendar {
    overflow-x:scroll;
    margin-left:9em;
    overflow-y:visible;
    padding-bottom:1px;
}

#clock {
    border-top: none;
    width: 100%;
    display: table;
    table-layout: fixed;
}

#clock span {
    display: table-cell;
    transform: translateX(-50%);
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 125%;
}

td {
    margin: 0;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    transition: background .2s;
    white-space: nowrap;
    overflow: hidden;
}

tr:hover td.heading{
    background-color: #cccccc;
}

td.heading {
    position: absolute;
    padding: 2em;
    width:5em;
    left: -4px;
    top:auto;
    background-color: #dddddd;
    border-right: 4px solid #00b3ee;
    border-left: 1px solid #777777;
    text-align: center;

}

td.cal {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 5em;
    width: 100%;
    background: repeating-linear-gradient(90deg, #eeeeee, #eeeeee 24%, #dddddd 24%, #dddddd 25%, #eeeeee 25%,
        #eeeeee 49%, #bbbbbb 49%, #bbbbbb 50%, #eeeeee 50%,
        #eeeeee 74%, #dddddd 74%, #dddddd 75%, #eeeeee 75%,
        #eeeeee 99%, #888888 99%, #888888 100%);
    border-right: 1px solid #777777;
    border-bottom: none;
    border-top: none;
    background-size: 4.1667% 100%;
}

div.event {
    position: absolute;
    top: 3%;
    bottom: 3%;
    height: 90%;
    background-color: #ffbbbb;
    border: 2px solid #ddaaaa;
    display: inline-block;
    transition: background .2s, border .2s;
    overflow: visible;
}

div.min {
    position: absolute;
    display: table;
    height: 100%;
    background-color: #ffcccc;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px dashed #aa7777;
    transition: background .2s;
}

div.title {
    position: absolute;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
}

div.event:hover div.min{
    background-color: #ffbbbb;
}

div.hover {
    position: absolute;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
}

div.event p{
    display: table-cell;
    vertical-align: middle;

    font-size: 20px;
    text-align: center;
    width: 100%;

    overflow: visible;
}

div.event .hover p {
    visibility: hidden;
}

div.event:hover p{
    visibility: hidden;
}

div.event:hover .hover p{
    visibility: visible;
}

div.event:hover {
    background-color: #ffaaaa;
    border: 2px solid #bb8888;
    z-index: 1;
}

#create {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: .4em;
    padding: 1em;
    z-index: 1;
}

#create p{
    margin: 0;
    display: inline-block;
}

img.icon {
    height: 1em;
}
