table {
    margin: 1em;
    border-collapse: collapse;
    width: 95%;
}

td{
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    transition: background .2s;
}

tr:hover td.heading{
    background-color: #cccccc;
}

td.heading {
    padding: 2em;
    width: 15%;
    border-right: 4px solid #00b3ee;
    background-color: #dddddd;
    border-left: 1px solid #777777;
    text-align: center;
}

td.cal {
    overflow: hidden;
    position: relative;
    width: 85%;
    min-width: 10em;
    background: repeating-linear-gradient(-45deg, #eeeeee, #eeeeee 25%, #e3e3e3 25%, #e3e3e3 50%) top left fixed;
    background-size: 20px 20px;
    border-right: 1px solid #777777;
}

tr {
    min-height: 5em;
}

div.event {
    position: absolute;
    top: 3%;
    bottom: 3%;
    height: 90%;
    background-color: #ffbbbb;
    border: 2px solid #ddaaaa;
    display: inline-block;
    transition: background .2s, border .2s;
    overflow: visible;
}

div.min {
    position: absolute;
    display: table;
    height: 100%;
    background-color: #ffcccc;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px dashed #aa7777;
    transition: background .2s;
}

div.event:hover div.min{
    background-color: #ffbbbb;
}

div.hover {
    position: absolute;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
}

div.event p{
    display: table-cell;
    vertical-align: middle;

    font-size: 20px;
    text-align: center;
    width: 100%;
}

div.event .hover p {
    visibility: hidden;
}

div.event:hover p{
    visibility: hidden;
}

div.event:hover .hover p{
    visibility: visible;
}

div.event:hover {
    background-color: #ffaaaa;
    border: 2px solid #bb8888;
    z-index: 1;
}

img.icon {
    height: 1em;
}

a.box-link {
    text-decoration: none;
    color: #000000;
}

a.box-link:active {
    text-decoration: none;
    color: #000000;
}